<form #playersForm="ngForm" class="jeo-add-player-container">

  <ng-container *ngFor="let player of players; index as i; last as last">

    <div class="jeo-player-container {{player.theme}}-theme">
      <div class="jeo-avatar square"
        (click)="fileUpload.click()"
        matTooltip="Upload an avatar."
        [style.background]="player.avatar ? 'center / cover url(' + player.avatar + ')' : '#fff'">

        <input #fileUpload type="file" accept="image/*"
          (change)="onUploadAvatar(player.id, $event)">

        <div class="jeo-remove-btn">
          <span>{{i + 1}}</span>
        </div>

        <mat-icon class="jeo-default-avatar"
          *ngIf="player.avatar == null">person</mat-icon>
      </div>

      <div class="jeo-player-info-container p-10"
        [class.secondary-theme]="(i + 1) % 2 == 0"
        [class.tertiary-theme]="(i + 1) % 3 == 0">

        <div class="form-label-header">
          <Label class="form-label" for="player-{{i}}">Name</Label>

          <button type="button" *ngIf="players.length > 1"
            class="jeo-remove-player-btn"
            (click)="onRemovePlayer(player.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <input type="text"
          id="player-{{i}}"
          name="player-{{i}}"
          class="form-control"
          [(ngModel)]="player.name"
          (ngModelChange)="onNameChange(player.id, $event)">
      </div>

      <ng-container *ngIf="last">
        <button jeo-button *ngIf="players.length < 5"
          theme="primary-inverse"
          customClass="jeo-add-player-btn dashed"
          (click)="onAddPlayer()">
          <div class="jeo-add-player-inner">
            <mat-icon>add</mat-icon>
            <span>Player</span>
          </div>
        </button>
      </ng-container>
    </div>

  </ng-container>
</form>
