@use '../abstract/variables' as var;

.jeo-add-player-container {
	display: flex;
	overflow-x: auto;
	width: 100%;
	padding: 1.875rem 0;
}

.jeo-add-player-card {
	width: 9.375rem;
	height: 10.9375rem;
	position: relative;
	background-color: white;
	margin-right: 1.25rem;
	border: 0.0625rem solid var.$primary-periwinkle-light;
}

.jeo-add-card {
	border-style: dashed;
	box-shadow: var.$default-box-shadow;
	display: flex;
	cursor: pointer;

	.jeo-add-card-inner {
		margin: auto;
		text-align: center;
		color: var.$primary-periwinkle-light;
	}
}

.jeo-remove-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.5625rem;
	height: 1.5625rem;
	cursor: pointer;
	text-align: center;
	background-color: var.$primary-periwinkle-light;
	border-bottom-left-radius: var.$default-border-radius;

	mat-icon.jeo-icon-remove {
		color: white;
	}
}

.jeo-player-icon {
	height: 5.875rem;
	background-color: white;
	text-align: center;
	background-position: center;
	background-size: cover;

	mat-icon.jeo-icon-person {
		font-size: 7.125rem;
		height: 5.875rem;
		width: 7.1875rem;
		color: var.$primary-periwinkle-light;
		cursor: pointer;
	}

	input {
		display: none;
	}
}

.jeo-player-info {
	height: 5.0625rem;
	padding: 0.625rem;
	background-color: var.$primary-periwinkle-light;

	label {
		color: white;
	}
}
