@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

// Base button style
.jeo-button {
	height: var.$jeo-button-height;
	padding: var.$jeo-button-padding;
	box-shadow: var.$default-box-shadow;
	text-align: center;
	cursor: pointer;
	display: block;
	min-width: 4.6875rem;

	&:disabled {
		background-color: var.$gray-light;
		border: 0.0625rem solid var.$gray-light;
		color: var.$gray;
		cursor: default;
	}
}

// Primary button style
.jeo-button-primary {
	@include mix.jeo-button(
		$hov-color: var.$primary-periwinkle-light,
		$bg-color: var.$primary-periwinkle
	);
}

.jeo-button-primary-inverse {
	@include mix.jeo-button($hov-color: var.$primary-periwinkle, $inverse: true);
}

// Secondary button style
.jeo-button-secondary {
	@include mix.jeo-button(
		$hov-color: var.$secondary-pink-light,
		$bg-color: var.$secondary-pink
	);
}

.jeo-button-secondary-inverse {
	@include mix.jeo-button($hov-color: var.$primary-periwinkle, $inverse: true);
}

// Dark button style
.jeo-button-dark {
	@include mix.jeo-button(
		$hov-color: var.$black-dark-light,
		$bg-color: var.$black-dark
	);
}

.jeo-button-dark-inverse {
	@include mix.jeo-button($hov-color: var.$black-dark, $inverse: true);
}
