@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

// Base button style
.jeo-button {
	height: var.$jeo-button-height;
	min-width: 9.375rem;
	padding: var.$jeo-button-padding;
	box-shadow: var.$default-box-shadow;
	text-align: center;
	cursor: pointer;
	display: block;

	&:disabled {
		background-color: var.$gray-light;
		border: 0.0625rem solid var.$gray-light;
		color: var.$gray;
		cursor: default;
	}
}

// Primary button style
.jeo-button-primary {
	@include mix.jeo-button(
		$hov-color: var.$primary-periwinkle-light,
		$bg-color: var.$primary-periwinkle
	);
}

.jeo-button-primary-inverse {
	@include mix.jeo-button($hov-color: var.$primary-periwinkle, $inverse: true);
}

// Dashed primary inverse style
.jeo-button-primary-inverse.dashed {
	@extend .jeo-button-primary-inverse;
	border-style: dashed;
}

// Secondary button style
.jeo-button-secondary {
	@include mix.jeo-button(
		$hov-color: var.$secondary-pink-light,
		$bg-color: var.$secondary-pink
	);
}

.jeo-button-secondary-inverse {
	@include mix.jeo-button($hov-color: var.$primary-periwinkle, $inverse: true);
}

.jeo-button-secondary-dark {
	@include mix.jeo-button(
		$hov-color: var.$black-dark-light,
		$bg-color: var.$black-dark,
		$txt-color: var.$secondary-pink
	);
}

// Dark button style
.jeo-button-dark {
	@include mix.jeo-button(
		$hov-color: var.$black-dark-light,
		$bg-color: var.$black-dark
	);
}

.jeo-button-dark-inverse {
	@include mix.jeo-button($hov-color: var.$black-dark, $inverse: true);

	&.circle {
		border-radius: 50%;
		border: 0.0625rem solid var.$black-dark;
		height: 2.1875rem;
		width: 2.1875rem;
		min-width: 2.1875rem;
		display: flex;
		margin-right: 0.625rem;
		padding: 0;

		&:last-child {
			margin-right: 0;
		}

		jeo-icon mat-icon {
			// height: 1.125rem;
			// width: 1.125rem;
			// font-size: 1.125rem;
			margin: auto;
		}
	}
}



.jeo-container-button {
	[jeo-button]:first-child:not(:only-child) {
		margin-right: 1.25rem;
	}
}
