@use '../abstract/variables' as var;

.jeo-container {
	border: 0.0625rem solid var.$primary-periwinkle;
	background-color: white;
	display: block;
	box-shadow: var.$default-box-shadow;
}

.jeo-container-slab {
	height: calc(100% - 5.625rem);
	overflow-y: auto;
	padding: 1.875rem 0;
}

%gradient-bg {
	height: 100%;

	.jeo-container-slab {
		padding: 0;
		transform: translateY(-1.125rem);
	}
}

jeo-container.radial-gradient .jeo-container {
	@extend %gradient-bg;
	background: var.$radial-gradient;
}

jeo-container.linear-gradient .jeo-container {
	@extend %gradient-bg;
	background: var.$linear-gradient;
}

.jeo-container-button {
	width: 100%;
	display: flex;
	justify-content: center;

	[jeo-button] {
		//margin: auto;
	}
}
