@use '../abstract/variables' as var;


jeo-game-players {
  display: flex;
  margin: auto;
}

.jeo-game-player {
  text-align: center;
  margin-right: 20px;

  &.is-active-player {

    .game-player-avatar, .game-player-info {
      border: 1.5px solid var.$tertiary-orange;
    }

     &:not(.is-horizontal) .game-player-info {
      color: var.$black-dark;
      background-color: var.$tertiary-orange;
      .game-player-score, .active-player-icon {
        color: var.$black-dark;
      }
    }
  }

}

.game-player-avatar {
  width: 50px;
  height: 50px;
  border: 1px solid var.$black-dark;
  border-radius: var.$default-border-radius var.$default-border-radius 0px 0px;
  margin: auto;
  border-bottom: 0 !important;

  mat-icon {
    font-size: 50px;
    height: 41px;
    width: 49px;
  }
}

.game-player-info {
  background-color: var.$black-dark;
  padding: 3px 10px;
  color: white;
  width: 136px;
  border-radius: var.$default-border-radius;

  label {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .active-player-icon {
    height: 12px;
    font-size: 12px;
    width: 12px;
    color: var.$tertiary-orange;
  }
}

.game-player-score {
  color: var.$tertiary-orange;
  margin: 0 !important;
}


.jeo-game-player.is-horizontal {
  display: flex;
  background-color: var.$black-dark;
  height: 39px;
  width: 160px;
  padding: 0 3px;

  &.is-active-player {
    border: 1px solid var.$tertiary-orange;
  }

  .game-player-avatar {
    height: 32px;
    width: 32px;
    border-radius: var.$default-border-radius;

    mat-icon {
      font-size: 32px;
      height: 32px;
      width: 32px;
    }
  }

  .game-player-info {
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    padding: 0 0 0 3px;
  }

  .game-player-avatar, .game-player-info {
    border: none;
  }
}
