@use '../abstract/variables' as var;

.jeo-game-card {
	background: var.$radial-gradient;
	height: 100%;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var.$default-border-radius;

	&:not(.jeo-category-card):not(.is-cleared):hover {
		cursor: pointer;
		box-shadow: var.$default-box-shadow;
		background-color: var.$primary-periwinkle;
		border: 0.1875rem solid white;
	}

	.jeo-game-card-label {
		margin: 0 !important;
	}

	.question-label {
		font-style: italic;
	}
}

.jeo-category-card {
	cursor: default !important;
	background: transparent
		linear-gradient(
			180deg,
			var.$secondary-pink-lightest 0%,
			var.$primary-periwinkle 100%
		)
		0% 0% no-repeat padding-box;
}

.jeo-game-card:not(.jeo-category-card).is-cleared {
	background: var.$primary-periwinkle-lightest;
	color: #{var.$primary-periwinkle-light}#{80};
	cursor: default;
}
