@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

.jeo-header {
	position: relative;
	text-align: center;
}

.jeo-header-line {
	height: 0.0625rem;
	width: 100%;
	position: absolute;
	top: 50%;
	background-color: var.$secondary-pink;
}

.jeo-header-title {
	z-index: 1;
	position: relative;
	min-width: 21.875rem;
	padding: 0.625rem 0.9375rem;
	border-radius: 0.25rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var.$secondary-pink;
	color: white;
}

.jeo-header {
	&.warning-header {
		@include mix.style-header($bg-color: var.$tertiary-orange);
	}

	&.danger-header {
		@include mix.style-header($bg-color: var.$danger-red);
	}

	&.dark-header {
		.jeo-header-line {
			background-color: white;
		}

		.jeo-header-title {
			background-color: var.$black-dark;
			border: 2px solid var.$off-white;
		}
	}
}

// Container slab's header
jeo-slab-header {
	background-color: #ffffff40;
	border: 0.0625rem solid white;
	padding: 2.1875rem 1.25rem 1.25rem;
	color: white;
	min-height: 9.375rem;
	align-items: center;
	display: block;
	border-radius: var.$default-border-radius;

	&:not(:only-child) {
		margin-bottom: 3.125rem;
	}
}

.jeo-slab-button-container:has([jeo-button]) {
	margin-top: 3.125rem;
}

.jeo-slab-button-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	.jeo-button:not(:only-child):first-of-type {
		margin-right: 1.25rem;
	}
}
