@use '../abstract/variables' as var;

.jeo-answer-choices {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 3.75rem 3.75rem;
	grid-row-gap: 1.25rem;
	margin-bottom: 3.75rem;
}

[jeo-answer-choice] {
	display: flex;
	align-items: center;
	position: relative;
	border: none;
	cursor: pointer;
	background: none;

	&:disabled {
		cursor: default;
	}
}

.jeo-answer-container {
	padding: 0.625rem 2.5rem 0.625rem 0.625rem;
	height: 3.75rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: transparent;
	justify-content: flex-end;
	width: calc(100% - 1.5625rem);
	color: white;
	border: 0.0625rem solid white;
	border-radius: var.$default-border-radius;

	.answer-choice {
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.jeo-answer-avatar {
	position: absolute;
	right: 0;
}

[jeo-answer-choice]:not([direction='reverse']) {
	margin-right: 0.3125rem;
}

[jeo-answer-choice][direction='reverse'] {
	flex-direction: row-reverse;
	margin-left: 0.3125rem;

	.jeo-answer-container {
		padding: 0.625rem 0.625rem 0.625rem 2.5rem;
		justify-content: start;
	}

	.jeo-answer-avatar {
		left: 0;
	}
}

[jeo-answer-choice]:not(:disabled):hover,
[jeo-answer-choice]:not(:disabled).is-selected,
[jeo-answer-choice][showAnswer='true'] {
	.jeo-answer-container {
		background-color: var.$primary-periwinkle;
		color: white;
	}

	.jeo-answer-avatar {
		background-color: var.$primary-periwinkle-light;
		border: 0.0625rem double var.$primary-periwinkle-light;
	}
}
