{
	"singleQuote": true,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "auto",
	"singleAttributePerLine": false
}
