@mixin jeo-button(
	$hov-color,
	$bg-color: white,
	$txt-color: white,
	$inverse: false
) {
	background-color: $bg-color;
	border: 0.0625rem solid $bg-color;
	color: $txt-color;

	@if $inverse {
		color: $hov-color;
		border-color: $hov-color;
	}

	&:not(:disabled):hover {
		background-color: $hov-color;
		border: 1px solid $hov-color;

		@if $inverse {
			color: white;
		}
	}
}

@mixin style-header($bg-color) {
	.jeo-header-line,
	.jeo-header-title {
		background-color: $bg-color;
	}
}

@mixin border-outline-style($pri-color) {
	border: 0.0625rem double $pri-color;
	outline: 0.0625rem solid white;
	outline-offset: -0.125rem;
}
