// Colors
$primary-periwinkle: #6974c5;
$primary-periwinkle-light: #8e97d3;
$primary-periwinkle-lightest: #b3b9e2;

$secondary-pink: #c375c3;
$secondary-pink-light: #d297d2;
$secondary-pink-lightest: #e1b9e1;

$tertiary-orange: #ffc768;
$tertiary-orange-light: #ffd58e;
$tertiary-orange-lightest: #ffe3b3;

$tertiary-pink: #ff7da8;
$tertiary-pink-light: #ff9dbe;
$tertiary-pink-lightest: #ffbdd3;

$black-dark: #232323;
$black-dark-light: #5a5a5a;

$danger-red: #b64848;

$gray: #909090;
$gray-light: #c7c7c7;
$gray-lightest: #e1e1e1;
$off-white: #f8f8f8;

$primary-palette: (
	50: #eaebf7,
	100: #c9ceeb,
	200: #a6aede,
	300: #838ed0,
	400: $primary-periwinkle,
	500: #505bbb,
	600: #4a52b0,
	700: #4148a4,
	800: #3a3e98,
	900: #2d2c83,
	contrast: (
		50: $black-dark,
		100: $black-dark,
		200: $black-dark,
		300: $black-dark,
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);

$secondary-palette: (
	50: #f4e7f4,
	100: #e5c3e5,
	200: #d59cd5,
	300: $secondary-pink,
	400: #b558b5,
	500: #a93eab,
	600: #9c39a4,
	700: #8a329c,
	800: #7a2d94,
	900: #5e2385,
	contrast: (
		50: $black-dark,
		100: $black-dark,
		200: $black-dark,
		300: white,
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);

$radial-gradient: transparent
	radial-gradient(
		closest-side at 50% 50%,
		$primary-periwinkle-light 0%,
		#474c6a 100%
	)
	0% 0% no-repeat padding-box;

$linear-gradient: transparent
	linear-gradient(
		58deg,
		$secondary-pink 0%,
		$primary-periwinkle-light 50%,
		$primary-periwinkle 100%
	)
	0% 0% no-repeat padding-box;

// Font-family
$font-family-body: 'lato';
$font-family-title: 'harlow-solid';

// Font weights
$font-weight-heavy: 900; //Lato-black
$font-weight-bold: 600; //Lato-bold
$font-weight-semi-bold: 500; //Lato-semi-bold
$font-weight-regular: 400; //Lato-regular
$font-weight-light: 300; //Lato-light
$font-weight-thin: 200; //Lato-thin

// Typography font sizes
$h1-font-size: 3.125rem !important;
$h2-font-size: 2.375rem !important;
$h3-font-size: 2rem !important;
$h4-font-size: 1.75rem !important;
$h5-font-size: 1.375rem !important;
$h6-font-size: 1.25rem !important;
$body-font-size: 0.875rem;
$small-font-size: 0.75rem;

// Typography line heights
$h1-line-height: 3.75rem !important;
$h2-line-height: 2.875rem !important;
$h3-line-height: 2.4375rem !important;
$h4-line-height: 2.125rem !important;
$h5-line-height: 1.6875rem !important;
$h6-line-height: 1.5rem !important;
$body-line-height: 1.0625rem !important;
$small-light-height: 0.9375rem !important;

//Letter spacing
$default-letter-spacing: normal;

// Buttons
$jeo-button-height: 2.4375rem;
$jeo-button-padding: 0.625rem 0.875rem;

// Box-shadows
$default-box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
$tile-box-shadow: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

// Borders
$default-border-radius: 0.25rem;
