<jeo-container theme="linear-gradient">
    <div class="question-action-bar">
        <jeo-player-card
            [player]="modalData.activePlayer"
            [activePlayerId]="modalData.activePlayer.id"
            direction="horizontal">
        </jeo-player-card>
      </div>

    <jeo-header theme="dark">
        <div class="jeo-header-inner">
            <h5>{{modalData.categoryLabel}}</h5>
            <h2>Daily Double!</h2>
        </div>
    </jeo-header>

    <jeo-container-slab>
        <jeo-slab-header>
            <h5 class="jeo-wager-question">How much would you like to wager?</h5>

            <div class="jeo-wager-amount">
                <h2>${{wagerAmount}}</h2>
            </div>

            <div class="jeo-wager-slider">
                <span class="slider-hint">$0</span>
                <mat-slider
                    step="1"
                    min="5"
                    [max]="maxWager"
                    [(ngModel)]="wagerAmount">
                </mat-slider>
                <span class="slider-hint">${{maxWager}}</span>
            </div>

            <button jeo-button type="button"
                theme="primary-inverse"
                (click)="onTrueDailyDouble()">True Daily Double</button>
            <button jeo-button type="button" theme="primary"
                (click)="onCloseModal()">Submit</button>
        </jeo-slab-header>
    </jeo-container-slab>
</jeo-container>
