<div class="jeo-gameboard-container p-20">
  <div class="jeo-gameboard-header d-flex">

    <div class="jeo-players d-flex">
      <jeo-game-player-card *ngFor="let player of players; index as i"
        [player]="player"
        [activePlayerId]="activePlayerId"
        [index]="i">
      </jeo-game-player-card>
    </div>

    <div class="jeo-gameboard-buttons">
      <button jeo-button type="button" id="reset-button"
        (click)="restartGame()"
        theme="dark-inverse">Restart Game</button>
      <a jeo-button routerLink="/"
        (click)="exitGame()"
        type="button" id="exit-button"
        theme="dark-inverse">Exit</a>
    </div>
  </div>

  <div class="jeo-gameboard">
    <div class="jeo-category-container" *ngFor="let cat of categoryQuestions">
      <jeo-game-card [labelText]="cat.title"></jeo-game-card>

      <jeo-game-card *ngFor="let question of cat.questions"
        intent="question"
        [isCleared]="question.isCleared"
        [labelText]="question.points"
        (onQuestionClick)="onQuestionClick(question, cat)">
      </jeo-game-card>
    </div>
  </div>
</div>
