@use '../abstract/variables' as var;

// Grid sizes for categories and question cards.
$col-w: calc(100% / 6);
$col-width: $col-w $col-w $col-w $col-w $col-w $col-w;
$row-h: calc((100% - 6.25rem) / 5);
$row-height: 6.25rem $row-h $row-h $row-h $row-h $row-h;

jeo-gameboard {
	display: contents;
}

.jeo-gameboard-container {
	width: 100%;
	height: calc(100vh - 10.625rem);
	margin: 0 3.125rem;
	background-color: white;
	border: 0.0625rem solid var.$primary-periwinkle;
	box-shadow: var.$default-box-shadow;
}

.jeo-players {
	flex: 1;
	justify-content: center;
}

.jeo-gameboard {
	padding-top: 0.9375rem;
	height: calc(100% - 6rem);
	display: grid;
	grid-template-columns: $col-width;
	grid-template-rows: 100%;
	grid-column-gap: 0.0625rem;
}

.jeo-category-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: $row-height;
	grid-row-gap: 0.0625rem;
}
