@use '../abstract/variables' as var;

// Grid sizes for categories and question cards.
$col-w: calc(100% / 6);
$col-width: $col-w $col-w $col-w $col-w $col-w $col-w;
$row-h: calc((100% - 100px) / 5);
$row-height: 100px $row-h $row-h $row-h $row-h $row-h;



jeo-gameboard {
  display: contents;
}

.jeo-gameboard-container {
  width: 100%;
  height: calc(100vh - 170px);
  margin: 0 50px;
  background-color: white;
  border: 1px solid var.$primary-periwinkle;
  box-shadow: var.$default-box-shadow;

}

.jeo-players {
  width: calc(100% - 113.81px);
  justify-content: center;
}

.jeo-gameboard-buttons {
  #reset-button {
    margin-bottom: 15px;
  }

  #exit-button {
    width: 113.81px;
  }
}

.jeo-gameboard {
  padding-top: 15px;
  height: calc(100% - 96px);
  display: grid;
  grid-template-columns: $col-width;
  grid-template-rows: 100%;
  grid-column-gap: 1px;
}

.jeo-category-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: $row-height;
  grid-row-gap: 1px;
}
