@use '../abstract/variables' as var;

.jeo-homepage {
	height: 100%;
	width: 100%;
	position: fixed;
	padding-top: 3.125rem;
	background: transparent
		linear-gradient(
			180deg,
			white 0%,
			var.$primary-periwinkle-light 100%
		) 0% 0% no-repeat padding-box;

	hr {
		margin: 1.5625rem 0 0 0;
		border-color: var.$primary-periwinkle;
		border-bottom-width: 0;
	}

	jeo-container .jeo-container {
		width: 46.875rem;
		height: 39.375rem;
	}
}

.jeo-homepage-title {
	font-family: var.$font-family-title !important;
	font-weight: var.$font-weight-heavy;
	font-size: 3.75rem !important;
	color: var.$primary-periwinkle;
	text-align: center;
	padding: 2.5rem 0;
	margin: 0;
}

.jeo-homepage-bg {
	padding-top: 15.625rem;
}

.jeo-homepage-stripe-1 {
	height: 8.375rem;
	width: 100%;
	margin-bottom: 1.25rem;
	background-color: var.$primary-periwinkle-lightest;
}

.jeo-homepage-stripe-2 {
	height: 3.125rem;
	width: 100%;
	margin-bottom: 10rem;
	background-color: var.$primary-periwinkle;
}

.jeo-homepage-stripe-3 {
	height: 0.0625rem;
	width: 100%;
	margin-bottom: 1.25rem;
	background-color: white;
}

.jeo-homepage-stripe-4 {
	height: 10px;
	width: 100%;
	background-color: var.$secondary-pink-lightest;
}

.jeo-main-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
}

.jeo-game-container {
	width: 100%;
	display: flex;
}

jeo-home-page,
jeo-gameboard {
	margin: auto;
}
