@use '@angular/material' as mat;
@use '../abstract/variables' as var;

@include mat.core();

$my-primary: mat.define-palette(var.$primary-palette, 400);
$my-accent: mat.define-palette(var.$secondary-palette, 300);
$my-warn: mat.define-palette(mat.$red-palette);

// $my-custom-level: mat.define-typography-level(
//   $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );
//	$font-family: var.$font-family-body,

// $font-family: Roboto,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// font-size, line-height, font-weight, font-family, and letter-spacing

$my-custom-typography-config: mat.define-typography-config(
	$headline: mat.define-typography-level(
		$font-size: var.$h1-font-size,
		$line-height: var.$h1-font-size,
		$font-weight: var.$font-weight-bold,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	),
	$title: mat.define-typography-level(
		$font-size: var.$h2-font-size,
		$line-height: var.$h2-font-size,
		$font-weight: var.$font-weight-bold,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	),
	$subheading-2: mat.define-typography-level(
		$font-size: var.$h3-font-size,
		$line-height: var.$h3-font-size,
		$font-weight: var.$font-weight-bold,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	),
	$subheading-1: mat.define-typography-level(
		$font-size: var.$h4-font-size,
		$line-height: var.$h4-font-size,
		$font-weight: var.$font-weight-bold,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	),
	$body-2: mat.define-typography-level(
		$font-size: var.$body-font-size,
		$line-height: var.$body-font-size,
		$font-weight: var.$font-weight-bold,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	),
	$body-1: mat.define-typography-level(
		$font-size: var.$body-font-size,
		$line-height: var.$body-font-size,
		$font-weight: var.$font-weight-regular,
		$font-family: var.$font-family-body,
		$letter-spacing: normal,
	)
);

$my-theme: mat.define-light-theme(
	(
		color: (
			primary: $my-primary,
			accent: $my-accent,
			warn: $my-warn,
		),
		typography: $my-custom-typography-config,
		density: 0,
	)
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core($my-custom-typography-config);
@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);
