<div class="jeo-gameboard-container p-20">
  <div class="jeo-gameboard-header d-flex">

    <div class="jeo-players d-flex">
      <jeo-player-card *ngFor="let player of (players$ | async); index as i; trackBy: trackByPlayerFn"
				[index]="i"
        [player]="player"
        [activePlayerId]="activePlayerId">
      </jeo-player-card>
    </div>

    <div class="jeo-gameboard-actions d-flex">
			<a jeo-button type="button"
				routerLink="/edit-players"
				customClass="circle"
				theme="dark-inverse">
				<jeo-icon iconName="manage_accounts" toolTipMessage="Edit player profiles."></jeo-icon>
			</a>

			<button jeo-button type="button"
				(click)="annouceWinner()"
				customClass="circle"
				theme="dark-inverse">
				<jeo-icon iconName="restart_alt" toolTipMessage="Reset game."></jeo-icon>
			</button>

			<a jeo-button type="button"
				routerLink="/"
				(click)="exitGame()"
				customClass="circle"
				theme="dark-inverse">
				<jeo-icon iconName="exit_to_app" toolTipMessage="Exit game."></jeo-icon>
			</a>

    </div>
  </div>

  <div class="jeo-gameboard">
    <div class="jeo-category-container" *ngFor="let cat of categories; trackBy: trackByCategoryFn">
      <jeo-game-card [labelText]="cat.label"></jeo-game-card>

      <jeo-game-card *ngFor="let question of (getCategoryQuestions(cat.id) | async); trackBy: trackByQuestionFn"
        intent="question"
        [isCleared]="question.isCleared ?? false"
        [labelText]="question.points"
        (onQuestionClick)="onQuestionClick(question, cat)">
      </jeo-game-card>
    </div>
  </div>
</div>
