@use '../abstract/variables' as var;
@use '../abstract/mixins' as mix;

.jeo-header {
  position: relative;
  text-align: center;
}

.jeo-header-line {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  background-color: var.$secondary-pink;
}

.jeo-header-title {
  height: 50px;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 5px 15px;
  border-radius: 4px;
  padding: 0 80px;
  display: inline-flex;
  background-color: var.$secondary-pink;

  .jeo-header-text {
    color: white;
    margin: auto !important;
  }
}

.jeo-header {
  &.warning-header {
    @include mix.styleHeader(var.$tertiary-orange);
  }

  &.danger-header {
    @include mix.styleHeader(var.$danger-red);
  }

  &.dark-header {
    @include mix.styleHeader(var.$black-dark);
  }
}
