<jeo-container>
  <jeo-header labelText="Rules"></jeo-header>

  <jeo-container-slab>
    <ol>
      <li>This game can be played solo or with up to 5 players.</li>
      <li>Game is played by picking a category and a point value then answering the prompted question.</li>
      <li>All questions are multiple choice with four options.</li>
      <li>Player must answer question correctly to gain point value.</li>
      <li>Game can be resetted </li>
      <li>Player with the most points at the end of the game wins.</li>
    </ol>

    <jeo-header labelText="Players"></jeo-header>

    <jeo-players></jeo-players>

  </jeo-container-slab>

  <a jeo-button type="button" theme="primary"
    routerLink="/gameboard"
    (click)="setDefaultValues()">Lets Play!</a>
</jeo-container>
