<jeo-container>
  <div class="question-action-bar">

    <jeo-game-player-card
      [player]="question.activePlayer"
      [activePlayerId]="question.activePlayer.id"
      direction="horizontal">
    </jeo-game-player-card>

    <button jeo-button type="button" theme="primary-inverse"
      [disabled]="showAnswer || showResultMessage"
      matTooltip="Forfeit points and reveal the correct answer."
      (click)="onShowAnswer()">Reveal answer</button>
  </div>

  <jeo-header [labelText]="question.modalTitle"></jeo-header>

  <jeo-container-slab>
    <div class="jeo-question-bar">
      <h5>{{question.question}}</h5>
    </div>

    <div class="jeo-answer-choices">
      <ng-container *ngFor="let answer of question.answerChoices; index as i; even as even;">
        <button jeo-answer-choice type="button"
          [labelText]="answer"
          [multipleChoiceKey]="multipleChoiceKeys[i]"
          [disabled]="showAnswer"
          [selectedAnswer]="selectedAnswer"
          [attr.showAnswer]="showAnswer && answer == question.answer"
          [attr.direction]="!even ? 'reverse' : ''"
          (click)="selectedAnswer = answer"></button>
      </ng-container>
    </div>

    <h5 *ngIf="showResultMessage"
      class="jeo-answer-result"
      [class.jeo-answer-incorrect]="!isCorrectAnswer">
      <mat-icon>{{isCorrectAnswer ? 'celebration' : 'sentiment_very_dissatisfied'}}</mat-icon>
      {{(isCorrectAnswer ? 'Correct! $' + question.points : 'Incorrect. No') + ' points awarded to ' + question.activePlayer.name + '.'}}
    </h5>

  </jeo-container-slab>

  <button jeo-button type="button"
    [disabled]="selectedAnswer == '' && !showAnswer"
    (click)="onCloseModal()">{{btnText}}</button>
</jeo-container>
