@use '../abstract/variables' as v;

$font-display: 'auto';


@font-face {
  font-family: v.$font-family-body;
  src: url('../../assets/fonts/Lato/Lato-Thin.ttf');
  font-weight: 200;
  font-display: $font-display;
}

@font-face {
  font-family: v.$font-family-body;
  src: url('../../assets/fonts/Lato/Lato-Light.ttf');
  font-weight: 300;
  font-display: $font-display;
}

@font-face {
  font-family: v.$font-family-body;
  src: url('../../assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;
  font-display: $font-display;
}

@font-face {
  font-family: v.$font-family-body;
  src: url('../../assets/fonts/Lato/Lato-Bold.ttf');
  font-weight: 600;
  font-display: $font-display;
}

@font-face {
  font-family: v.$font-family-body;
  src: url('../../assets/fonts/Lato/Lato-Black.ttf');
  font-weight: 900;
  font-display: $font-display;
}

@font-face {
  font-family: v.$font-family-title;
  src: url('../../assets/fonts/harlow-solid/harlow-solid-regular.ttf');
  font-weight: 600;
  font-display: $font-display;
}


body {
  font-family: v.$font-family-body;
  font-size: v.$font-size-body;
  font-weight: v.$font-weight-regular;
}
